<h2>Search Books</h2>
<form action="/books" method="GET">
    <div>
        <lable for="">Title</lable>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>
    <div>
        <lable for="">Published After</lable>
        <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
    </div>
    <div>
        <lable for="">Published Before</lable>
        <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
    </div>
    <button type="submit">Search</button>
</form>
<div>
    <% books.forEach(book => { %>
     <a href="/books/<%= book.id%>">
     <img src="<%= book.coverImagePath %>" alt="" height="150" width="100">
     </a>
    <% }) %> 
</div>